<% include ../partials/header %>
  <div class="container">
    <header class="jumbotron">
      <h1>歡迎來到寵物世界</h1>
      <p>紀錄寵物的點點滴滴...</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/pets/new" role="button">新增記事</a>
      </p>
    </header> 
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% allPets.forEach( (pet) =>{ %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="<%= pet.image %>" alt="pet">
            <div class="caption">
              <h3><%= pet.title %></h3>
              <p><%= pet.description.substring(0, 50) %>...</p>
              <p>
                <a href="/pets/<%= pet._id %>" class="btn btn-primary" role="button">More...</a> 
              </p>
            </div>
          </div>
        </div>
      <% }); %>  
    </div>
  </div>
<% include ../partials/footer %>